<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if error %}
        something happened
    {% endif %}
    <form method="post">
        SELECT * FROM
        <select name="where_to_search">
            <option value="user" selected>user</option>
            <option value="code" {% if args["where_to_search"]=="code" %}selected{% endif %}>code</option>
            <option value="log" {% if args["where_to_search"]=="log" %}selected{% endif %}>log</option>
            <option value="usertype" {% if args["where_to_search"]=="usertype" %}selected{% endif %}>usertype</option>
            <option value="favorite" {% if args["where_to_search"]=="favorite" %}selected{% endif %}>favorite</option>
            <option value="favorite_item" {% if args["where_to_search"]=="favorite_item" %}selected{% endif %}>favorite_item</option>
            <option value="charge" {% if args["where_to_search"]=="charge" %}selected{% endif %}>charge</option>
        </select>
        WHERE
        <input name="condition" placeholder="optional" content="{{ args["condition"] }}"><br>
        <input type="submit" value="Search">
    </form>
{% if result %}
    <table border="1">
        <tr>
            {% for x in column_name %}
                <th>{{ x }}</th>
            {% endfor %}
        </tr>
        {% for x in result %}
            <tr>
                {% for y in x %}
                    <td>{{ y }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>
