<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if error %}
        something happened
    {% endif %}
    <form method="post">
        SELECT * FROM
        <select name="where_to_search">
            <option value="user" selected>user</option>
            <option value="code">code</option>
            <option value="log">log</option>
            <option value="usertype">usertype</option>
            <option value="favorite">favorite</option>
            <option value="favorite_item">favorite_item</option>
            <option value="charge">charge</option>
        </select>
        WHERE
        <input name="condition" placeholder="optional"><br>
        <input type="submit" value="Search">
    </form>
{% if result %}
    <table border="1">
        <tr>
            {% for x in column_name %}
                <th>{{ x }}</th>
            {% endfor %}
        </tr>
        {% for x in result %}
            <tr>
                {% for y in x %}
                    <td>{{ y }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>
