<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script type="text/javascript">
        var count = 0;
        function clicked(id, score) {
            console.log(id)
            var data = new FormData();
            data.append("id", id);
            qdata = {}
            {% for key in query %}
                {% if not(query[key] is string) %}
                    qdata["{{ key }}"] = {{ query[key] }}
                        {% else %}
                        qdata["{{ key }}"] = "{{ query[key] }}"
                {% endif %}
            {% endfor %}
            data.append("query", JSON.stringify(qdata));
            data.append("score", score);
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("post", "adddata", true);
            xmlhttp.send(data);
        }
        function clickhref(index, doc_type, id) {

            var data = new FormData();
            data.append("id", id);
            qdata = {}
            {% for key in query %}
                {% if not(query[key] is string) %}
                    qdata["{{ key }}"] = {{ query[key] }}
                        {% else %}
                        qdata["{{ key }}"] = "{{ query[key] }}"
                {% endif %}
            {% endfor %}
            data.append("query", JSON.stringify(qdata));
            count += 1;
            data.append("count",count);
            xmlhttp = new XMLHttpRequest();
            xmlhttp.open("post", "addclickdata", false);
            xmlhttp.send(data);

            window.open("/doc?index={{ args["index"] }}&doc_type={{ args["doc_type"] }}&id=" + id,"_blank");
        }
    </script>
</head>
<body>
<form>
    模型:
    <select name="type_of_model">
        <option value="-1" {% if (args["type_of_model"] and args["type_of_model"] == "-1") or not("type_of_search" in args) %}selected{% endif %}>
            DBDT
        </option>
        <option value="0" {% if args["type_of_model"] and args["type_of_model"] == "0" %}selected{% endif %}>LDA</option>
        <option value="1" {% if args["type_of_model"] and args["type_of_model"] == "1" %}selected{% endif %}>tfidf</option>
        <option value="2" {% if args["type_of_model"] and args["type_of_model"] == "2" %}selected{% endif %}>word embedding</option>
        <option value="3" {% if args["type_of_model"] and args["type_of_model"] == "3" %}selected{% endif %}>LDA+embedding</option>
        <option value="4" {% if args["type_of_model"] and args["type_of_model"] == "4" %}selected{% endif %}>LDA+embedding+tfidf</option>
    </select>

    数据集:
    <input type="text" name="index" {% if args["index"] %} value="law" {% else %} value="law" {% endif %}
           readonly="readonly">
    <br>

    数据类型:
    <input type="text" name="doc_type" {% if args["doc_type"] %} value="big_data" {% else %}value="big_data" {% endif %}
           readonly="readonly">
    <br>

    全文检索:
    <input type="text" name="search_content" {% if args["search_content"] %}
           value="{{ args["search_content"] }}" {% endif %}>
    <select name="where_to_search">
        <option value="0"
                {% if (args["where_to_search"] and args["where_to_search"] == "0") or not("where_to_search" in args) %}selected{% endif %}>
            全文
        </option>
        <option value="1" {% if args["where_to_search"] and args["where_to_search"] == "1" %}selected{% endif %}>首部
        </option>
        <option value="2" {% if args["where_to_search"] and args["where_to_search"] == "2" %}selected{% endif %}>事实
        </option>
        <option value="3" {% if args["where_to_search"] and args["where_to_search"] == "3" %}selected{% endif %}>理由
        </option>
        <option value="4" {% if args["where_to_search"] and args["where_to_search"] == "4" %}selected{% endif %}>判决结果
        </option>
        <option value="5" {% if args["where_to_search"] and args["where_to_search"] == "5" %}selected{% endif %}>尾部
        </option>
    </select>
    <br>

    案由:
    Unsupported
    <br>

    案件名称:
    <input type="text" name="name_of_case" {% if args["name_of_case"] %}value="{{ args["name_of_case"] }}"{% endif %}>
    <br>

    案号:
    <input type="text" name="case_number" {% if args["case_number"] %} value="{{ args["case_number"] }}"{% endif %}>
    <br>

    法院名称:
    <input type="text" name="name_of_court"
           {% if args["name_of_court"] %}value="{{ args["name_of_court"] }}"{% endif %}>
    <br>

    法院层级:
    <select name="level_of_court">
        <option value="0"
                {% if (args["level_of_court"] and args["level_of_court"] == "0") or not("type_of_case" in args) %}selected{% endif %}>
            请选择
        </option>
        <option value="1" {% if args["level_of_court"] and args["level_of_court"] == "1" %}selected{% endif %}>最高法院
        </option>
        <option value="2" {% if args["level_of_court"] and args["level_of_court"] == "2" %}selected{% endif %}>高级法院
        </option>
        <option value="3" {% if args["level_of_court"] and args["level_of_court"] == "3" %}selected{% endif %}>中级法院
        </option>
        <option value="4" {% if args["level_of_court"] and args["level_of_court"] == "4" %}selected{% endif %}>基层法院
        </option>
    </select>
    <br>

    案件类型:
    <select name="type_of_case">
        <option value="0"
                {% if (args["type_of_case"] and args["type_of_case"] == "0") or not("type_of_case" in args) %}selected{% endif %}>
            请选择
        </option>
        <option value="1" {% if args["type_of_case"] and args["type_of_case"] == "1" %}selected{% endif %}>刑事案件</option>
        <option value="2" {% if args["type_of_case"] and args["type_of_case"] == "2" %}selected{% endif %}>民事案件</option>
        <option value="3" {% if args["type_of_case"] and args["type_of_case"] == "3" %}selected{% endif %}>行政案件</option>
        <option value="4" {% if args["type_of_case"] and args["type_of_case"] == "4" %}selected{% endif %}>赔偿案件</option>
        <option value="5" {% if args["type_of_case"] and args["type_of_case"] == "5" %}selected{% endif %}>执行案件</option>
    </select>
    <br>

    审判程序:Unsupported
    <br>

    文书类型:
    <select name="type_of_doc">
        <option value="0"
                {% if (args["type_of_doc"] and args["type_of_doc"] == "0") or not("type_of_doc" in args) %}selected{% endif %}>
            请选择
        </option>
        <option value="1" {% if args["type_of_doc"] and args["type_of_doc"] == "1" %}selected{% endif %}>判决书</option>
        <option value="2" {% if args["type_of_doc"] and args["type_of_doc"] == "2" %}selected{% endif %}>裁定书</option>
        <option value="3" {% if args["type_of_doc"] and args["type_of_doc"] == "3" %}selected{% endif %}>调解书</option>
        <option value="4" {% if args["type_of_doc"] and args["type_of_doc"] == "4" %}selected{% endif %}>决定书</option>
        <option value="5" {% if args["type_of_doc"] and args["type_of_doc"] == "5" %}selected{% endif %}>通知书</option>
        <option value="6" {% if args["type_of_doc"] and args["type_of_doc"] == "6" %}selected{% endif %}>批复</option>
        <option value="7" {% if args["type_of_doc"] and args["type_of_doc"] == "7" %}selected{% endif %}>答复</option>
        <option value="8" {% if args["type_of_doc"] and args["type_of_doc"] == "8" %}selected{% endif %}>函</option>
        <option value="9" {% if args["type_of_doc"] and args["type_of_doc"] == "9" %}selected{% endif %}>令</option>
        <option value="10" {% if args["type_of_doc"] and args["type_of_doc"] == "10" %}selected{% endif %}>其他</option>
    </select>
    <br>

    裁判日期:
    From <input type="number" name="caipan_from_year" placeholder="year" {% if args["caipan_from_year"] %}
                value={{ args["caipan_from_year"] }} {% endif %}> -
    <input type="number" name="caipan_from_month" placeholder="month" {% if args["caipan_from_month"] %}
           value={{ args["caipan_from_month"] }} {% endif %}> -
    <input type="number" name="caipan_from_day" placeholder="day" {% if args["caipan_from_day"] %}
           value={{ args["caipan_from_day"] }} {% endif %}>
    <br>
    To <input type="number" name="caipan_to_year" placeholder="year" {% if args["caipan_to_year"] %}
              value={{ args["caipan_to_year"] }} {% endif %}> -
    <input type="number" name="caipan_to_month" placeholder="month" {% if args["caipan_to_month"] %}
           value={{ args["caipan_to_month"] }} {% endif %}> -
    <input type="number" name="caipan_to_day" placeholder="day" {% if args["caipan_to_day"] %}
           value={{ args["caipan_to_day"] }} {% endif %}>
    <br>

    审判人员:
    <input type="text" name="judgement" {% if args["judgement"] %} value="{{ args["judgement"] }}"{% endif %}>
    <br>

    当事人:Unsupported
    <br>

    律所:Unsupported
    <br>

    律师:Unsupported
    <br>

    法律依据:
    法律名称 <input type="text" name="name_of_law" {% if args["name_of_law"] %}value="{{ args["name_of_law"] }}"{% endif %}>
    第 <input type="number" name="num_of_tiao" placeholder="" {% if args["num_of_tiao"] %}
             value={{ args["num_of_tiao"] }} {% endif %}>条
    第 <input type="number" name="num_of_kuan" placeholder="" {% if args["num_of_kuan"] %}
             value={{ args["num_of_kuan"] }} {% endif %}>款
    <br>

    发布日期:
    From <input type="number" name="fabu_from_year" placeholder="year" {% if args["fabu_from_year"] %}
                value={{ args["fabu_from_year"] }} {% endif %}> -
    <input type="number" name="fabu_from_month" placeholder="month" {% if args["fabu_from_month"] %}
           value={{ args["fabu_from_month"] }} {% endif %}> -
    <input type="number" name="fabu_from_day" placeholder="day" {% if args["fabu_from_day"] %}
           value={{ args["fabu_from_day"] }} {% endif %}>
    <br>
    To <input type="number" name="fabu_to_year" placeholder="year" {% if args["fabu_to_year"] %}
              value={{ args["fabu_to_year"] }} {% endif %}> -
    <input type="number" name="fabu_to_month" placeholder="month" {% if args["fabu_to_month"] %}
           value={{ args["fabu_to_month"] }} {% endif %}> -
    <input type="number" name="fabu_to_day" placeholder="day" {% if args["fabu_to_day"] %}
           value={{ args["fabu_to_day"] }} {% endif %}>
    <br>

    <input type="submit" value="Search">
</form>

{% if error_inf %}
    <p>{{ error_inf }}</p>
{% endif %}

{% if result %}
    {% for data in result %}
        <div>
            <h3><a onclick="javascript:clickhref('{{ args["index"] }}','{{ args["doc_type"] }}','{{ data["id"] }}'); return false;" href="#"> {{ data["Title"] }}</a></h3>
            <span>{{ data["score"] }}</span> <span>{{data["FYMC"]}}</span> <span>{{data["AJLX"]}}</span><br>
			<p>
				{{data["AJJBQK"] | truncate(200,True)}}
			</p>
            <button onclick="clicked('{{ data['id'] }}',5)">Perfect</button>
            <button onclick="clicked('{{ data['id'] }}',4)">Excellent</button>
            <button onclick="clicked('{{ data['id'] }}',3)">Good</button>
            <button onclick="clicked('{{ data['id'] }}',2)">Fair</button>
            <button onclick="clicked('{{ data['id'] }}',1)">Bad</button>
            <button onclick="clicked('{{ data['id'] }}',0)">Negative</button>
            <br>
        </div>
    {% endfor %}
{% endif %}

</body>
</html>
