<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post">
        {% for (x,y,z) in arr %}
            <a href = "http://powerlaw.ai:8888/document?id={{ x }}" target="_blank">{{ z }}</a>
            <select name="score_{{ x }}">
                <option value="0" {% if y == 0 %}selected{% endif %}>0</option>
                <option value="1" {% if y == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if y == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if y == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if y == 4 %}selected{% endif %}>4</option>
            </select>
			<br>
        {% endfor %}
        <input type="submit" value="Search">
    </form>
</body>
</html>
